*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foodConatiner{
    /* height: 100vh; */
    padding: 60px 80px;
}

.cardContainer{
    transition: 0.2s;
}
.cardContainer:hover{
    transform: scale(1.04);
}

