* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.searchContainer {
    background-image: url('../../assets/Images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.searchForm input[type='text'] {
    height: 6.5vh;
    width: 600px;
    padding-left: 0.8em;
}

.searchForm input[type='submit'] {
    padding: 6px 17px;
    font-size: 1rem;
    font-weight: 500;

}