*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foodMenuContainer{
    background-color: rgb(243, 242, 242);
    /* height: 100vh; */
    padding: 50px 60px;
}

.foodItemWrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}